body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: 2em;
  text-align: center;
  margin: 1em auto;
}

.add-user-button {
  border: none;
  color: #ffffff;
  background-color: #1BA098;
  border-radius: 100px;
  padding: 1em 2em;
  cursor: pointer;
  display: block;
  margin: 1em auto;
}

table {
  width: 70em;
  max-width: 100%;
  margin: 2em 0;
  border: 1px solid #ffffff;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
}

table td {
  padding: 1em;
  text-align: center;
}

table th {
  font-weight: 800;
  padding: 1em;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  color: #ffffff;
}

table tr + tr {
  border-top: 1px solid #ffffff; /* Adds border only between rows */
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

