<body>

  <header>User Registry</header>

  <button *ngIf="this.showUsers && this.admin" class="add-user-button" (click)="clickAddButton()">Add User</button>
  <app-user-overlay></app-user-overlay>

  <table *ngIf="this.showUsers && this.admin">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Active</th>
        <th>Admin</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">

        <td>{{ user.profile.firstName }} {{ user.profile.lastName }}</td>
        <td>{{ user.profile.email }}</td>
        <td [ngClass]="user.active ? 'green-text' : 'red-text'">{{ user.active ? 'YES' : 'NO' }}</td>
        <td [ngClass]="user.admin ? 'green-text' : 'red-text'">{{ user.admin ? 'YES' : 'NO' }}</td>
        <td>{{ user.status }}</td>

      </tr>
    </tbody>
  </table>


</body>
