.container {
    width: 40em;
    height: 40em;
    margin: 5em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }

  

  
.card-content-name {
    background-color: #0B2D45;
    display: flex;
    flex-direction: row;
    
  }

  .card-content-member {
    background-color: #1BA098;
    font-size: medium;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 103px;
    height: 32px;
    margin: 5px;
    text-align: center;
  }

  .plus {
    position:relative;
    left:145px;
    top:100px;
    border: 1px dotted #0d1118;
    width: 3px;
    height: 3px;
    background-color: #DEB992;
    box-sizing: border-box;
    transform: scale(19);
  }

  hr {
    display: block;
    height: 1px;
   
    border: 0;
    border-top: 1px solid #DEB992;
    margin: 1em 0;
    padding: 0;
}


.edit-button {
  background-color: #0B2D45;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 313px;
  height: 241px;
  margin: 20px;
  cursor: pointer;
}
.add-button {
  display: flex;
  background-color: #0d1118; 
  color:#DEB992;
  border: 3px solid #DEB992; 
  flex-direction: column;
  border-radius: 15px;
  width: 313px;
  height: 241px;
  margin: 20px;
  font-size: medium;
  cursor: pointer;
}

