.container {
    width: 40em;
    height: 40em;
    margin: 5em auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    background-color: #0B2D45;
    border-radius: 15px;
    width: 5em;
    height: 3em;
    padding: 3em;
    margin: 20px;
  }

  
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
  }