<body>
  <div class="container">

    <h1 style="font-size: 3em; letter-spacing: 2px">COOK SYSTEMS</h1>
    <h1 style="padding-bottom: 1em; letter-spacing: 1px">A FINAL APP</h1>

    <div class="card">
      <div class="card-content">
        <input type="text" placeholder="Enter email" class="input-field" />
        <input type="password" placeholder="Enter password" class="input-field" />
        <button class="login-button" (click)="onSubmit()">LOGIN</button>
      </div>
    </div>

  </div>
</body>
