/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Mulish', sans-serif;
  font-weight: 100;
  color: #1BA098;
  /*background: #051622;*/
  background: #0d1118;
}
