<div class="overlay" *ngIf="isHidden">

  <div class="overlay-content">

    <h2>Create User</h2>

    <form (ngSubmit)="onSubmit()">

<!--      <div>-->
<!--        <label>first name:</label>-->
<!--        <input id="firstname" [(ngModel)]="user.firstname" name="firstname" required />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label>last name:</label>-->
<!--        <input id="lastname" [(ngModel)]="user.lastname" name="lastname" required />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label>email:</label>-->
<!--        <input id="email" [(ngModel)]="user.email" name="email" required />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label>phone:</label>-->
<!--        <input id="phone" [(ngModel)]="user.phone" name="phone" required />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label>password:</label>-->
<!--        <input id="password" [(ngModel)]="user.password" name="password" required />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label>confirm Password:</label>-->
<!--        <input id="confirmPassword" [(ngModel)]="user.confirmPassword" name="confirmPassword" required />-->
<!--      </div>-->

<!--      <div>-->
<!--        <label for="admin" style="display: inline;">Admin:</label>-->
<!--        <input id="admin" [(ngModel)]="user.admin" [ngModelOptions]="{ standalone: true }" type="checkbox" />-->
<!--      </div>-->

      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input id="firstname" [(ngModel)]="user.user.profile.firstName" name="firstname" required />
      </div>

      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input id="lastname" [(ngModel)]="user.user.profile.lastName" name="lastname" required />
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="user.user.profile.email" name="email" required />
      </div>

      <div class="form-group">
        <label for="phone">Phone:</label>
        <input id="phone" [(ngModel)]="user.user.profile.phone" name="phone" required />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" [(ngModel)]="user.user.credentials.password" name="password" required type="password" />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required type="password" />
      </div>

      <div class="form-group">
        <label for="admin">Admin:</label>
        <input id="admin" [(ngModel)]="user.user.admin" [ngModelOptions]="{ standalone: true }" type="checkbox" />
      </div>

      <div class="button-container">
        <button type="button" (click)="close()">Close</button>
        <span *ngIf="!validEntry" style="color:red"> {{ entryError }} </span>
        <button type="submit">Create</button>
      </div>

    </form>

  </div>

</div>
